/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  margin: auto;
  display: block;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}